In [3]:
import pandas as pd

# Single Family Homes

In [4]:
data = pd.read_csv("Resources/RawSingleFamily_Neighborhood.csv")
#extract only CO data
co_data = data[data['State'] == "CO"]
co_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
112,275471,112,Southeast Colorado Springs,neighborhood,CO,CO,Colorado Springs,"Colorado Springs, CO",El Paso County,110725.631288,...,353246.013953,355921.927918,356595.275477,355608.073167,353661.872460,351780.279678,349897.025051,347807.422349,345729.584914,343833.043342
121,273540,121,East Colorado Springs,neighborhood,CO,CO,Colorado Springs,"Colorado Springs, CO",El Paso County,152578.563676,...,406938.526026,409023.457025,409060.501212,407739.204381,405632.804675,403776.395427,401849.888875,399950.687498,398333.143770,396716.561489
122,274771,122,Northeast Colorado Springs,neighborhood,CO,CO,Colorado Springs,"Colorado Springs, CO",El Paso County,178931.355163,...,469119.862438,471607.932865,471520.326828,469629.939420,466838.821912,464473.508606,462201.793211,459905.896546,457598.670131,455324.309092
123,273201,123,Central Colorado Springs,neighborhood,CO,CO,Colorado Springs,"Colorado Springs, CO",El Paso County,122613.782219,...,399225.212039,401610.000379,401222.682374,398771.173139,395745.123361,393594.516590,391794.998822,389587.495362,387472.911202,385595.769740
195,268621,198,Briargate,neighborhood,CO,CO,Colorado Springs,"Colorado Springs, CO",El Paso County,221376.998851,...,580258.922678,583199.478548,583062.542914,580394.236304,576322.043089,572696.399635,569441.585752,565857.567255,562587.489715,559927.011649

In [5]:
#create new df grouped by city with mean()
city_group_df = co_data.groupby("City").mean().reset_index()

city_group_df

,City,RegionID,SizeRank,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,Arvada,637377.796610,15025.491525,272638.573867,274080.784912,275152.927620,277489.620542,279879.295273,282845.244412,285765.652665,...,6.853449e+05,6.879758e+05,6.864236e+05,6.821724e+05,6.769887e+05,6.732607e+05,6.702961e+05,6.672062e+05,6.649418e+05,6.632258e+05
1,Aurora,431984.244186,10041.848837,215275.073606,216689.531195,217883.754696,220551.109524,223077.380318,225582.775463,228131.238229,...,5.448983e+05,5.486374e+05,5.493177e+05,5.474321e+05,5.440337e+05,5.408910e+05,5.379538e+05,5.349640e+05,5.325459e+05,5.307702e+05
2,Boulder,413058.218182,16978.745455,420218.764560,421850.694810,424003.617195,428625.211510,434006.605878,440583.595091,448932.581742,...,1.462473e+06,1.476564e+06,1.478751e+06,1.469765e+06,1.456098e+06,1.446531e+06,1.439635e+06,1.431955e+06,1.423847e+06,1.418470e+06
3,Breckenridge,119247.000000,25717.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.567678e+06,1.588060e+06,1.588679e+06,1.570633e+06,1.543507e+06,1.518979e+06,1.491813e+06,1.461490e+06,1.423739e+06,1.397774e+06
4,Broomfield,630394.827586,16243.206897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.964944e+05,8.018412e+05,8.020858e+05,7.988564e+05,7.932189e+05,7.885374e+05,7.846712e+05,7.811790e+05,7.776573e+05,7.744772e+05
5,Castle Rock,761538.000000,5049.000000,247329.461184,248176.692218,249262.587372,251706.250743,254691.596276,257362.329340,259775.332059,...,6.941380e+05,6.980874e+05,6.972796e+05,6.938784e+05,6.895786e+05,6.856671e+05,6.817804e+05,6.772108e+05,6.731206e+05,6.701369e+05
6,Colorado Springs,262342.866667,1880.133333,173929.361679,174176.618830,174364.071071,174842.649330,175385.742133,176086.450727,177099.725502,...,5.259597e+05,5.291756e+05,5.289461e+05,5.260595e+05,5.216983e+05,5.181561e+05,5.151160e+05,5.121343e+05,5.093323e+05,5.069169e+05
7,Denver,269656.276316,3589.618421,222861.652484,224275.272588,225775.065460,229338.011253,233052.097629,236993.172645,240563.782320,...,7.504587e+05,7.564061e+05,7.561275e+05,7.505554e+05,7.426567e+05,7.367188e+05,7.330671e+05,7.296482e+05,7.266448e+05,7.244417e+05
8,Englewood,715456.230769,11387.230769,199467.718786,200794.721935,201946.136526,204632.686795,207540.405446,210505.185341,213513.247178,...,5.478189e+05,5.512034e+05,5.511186e+05,5.479593e+05,5.438170e+05,5.411188e+05,5.390920e+05,5.366112e+05,5.351270e+05,5.340493e+05
9,Fort Collins,658885.828767,16808.246575,238492.138228,238216.480580,238955.165993,240312.730774,242602.042860,244858.222996,247162.346280,...,6.305378e+05,6.344494e+05,6.344738e+05,6.312932e+05,6.274793e+05,6.251225e+05,6.239972e+05,6.225601e+05,6.207051e+05,6.198027e+05
10,Frisco,119417.000000,23597.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.853645e+06,1.868756e+06,1.867183e+06,1.847469e+06,1.820413e+06,1.798034e+06,1.781537e+06,1.762110e+06,1.739447e+06,1.722745e+06
11,Golden,303544.000000,11166.000000,246987.287774,248482.674025,249327.420719,251184.827223,252693.556158,254676.672192,256779.354904,...,7.258646e+05,7.285970e+05,7.250477e+05,7.185347e+05,7.108685e+05,7.057714e+05,7.019564e+05,6.984837e+05,6.960994e+05,6.947765e+05
12,Lakewood,725949.962963,9988.000000,249131.686947,250649.882939,251707.656467,254144.975646,256585.100827,259556.363890,262152.651460,...,6.724096e+05,6.758471e+05,6.744868e+05,6.700892e+05,6.643633e+05,6.605305e+05,6.578320e+05,6.557423e+05,6.543538e+05,6.533740e+05
13,Littleton,762826.000000,3969.000000,342837.415457,344557.816802,346004.018130,349581.154028,353276.708771,356749.750571,360390.848864,...,8.070242e+05,8.096160e+05,8.073136e+05,8.020190e+05,7.954110e+05,7.900553e+05,7.849836e+05,7.797950e+05,7.751302e+05,7.717582e+05
14,Longmont,509312.454545,6292.909091,238662.187721,239644.618492,240768.646397,242950.990777,245070.821126,247330.340450,250205.708115,...,5.930744e+05,5.968634e+05,5.963107e+05,5.926090e+05,5.877630e+05,5.839640e+05,5.807526e+05,5.776500e+05,5.754490e+05,5.743858e+05
15,Mesa,12785.000000,24930.000000,185502.771018,185741.762654,184318.867078,183375.589879,183003.270060,183495.896242,182642.391513,...,5.270373e+05,5.339034e+05,5.363657e+05,5.351292e+05,5.314046e+05,5.274093e+05,5.214536e+05,5.153956e+05,5.081608e+05,5.057389e+05
16,Parker,619151.041667,16272.583333,343867.910138,345115.531499,347624.393940,351873.264455,356285.197077,359582.757227,363209.159436,...,8.793085e+05,8.845383e+05,8.830806e+05,8.775769e+05,8.705608e+05,8.650273e+05,8.605624e+05,8.559617e+05,8.515912e+05,8.485188e+05
17,Pueblo,714610.096774,10112.000000,108184.533083,108010.110632,107934.190582,107878.698385,108151.955112,108526.079078,109001.270457,...,2.519652e+05,2.544470e+05,2.557753e+05,2.560696e+05,2.556185e+05,2.550955e+05,2.544522e+05,2.533560e+05,2.523611e+05,2.512605e+05
18,Thornton,808309.183908,15000.045977,239181.590746,239715.844748,240931.371895,243641.617912,247169.996502,250817.153586,254159.264168,...,5.822419e+05,5.845015e+05,5.843110e+05,5.821695e+05,5.790624e+05,5.763024e+05,5.737791e+05,5.711438e+05,5.687535e+05,5.670320e+05

In [7]:
#reduce to only most recent data
avg_singfam_home_price_city = city_group_df.loc[:,['City','2023-02-28']]

#supress scientific notation by rounding
avg_singfam_home_price_city = avg_singfam_home_price_city.round(2)

avg_singfam_home_price_city = avg_singfam_home_price_city.rename(columns = {'2023-02-28':'Single Fam Avg Price'})
avg_singfam_home_price_city

                City  Single Fam Avg Price
0             Arvada             663225.80
1             Aurora             530770.16
2            Boulder            1418469.92
3       Breckenridge            1397773.68
4         Broomfield             774477.19
5        Castle Rock             670136.92
6   Colorado Springs             506916.92
7             Denver             724441.68
8          Englewood             534049.28
9       Fort Collins             619802.66
10            Frisco            1722745.05
11            Golden             694776.49
12          Lakewood             653374.00
13         Littleton             771758.24
14          Longmont             574385.85
15              Mesa             505738.88
16            Parker             848518.77
17            Pueblo             251260.46
18          Thornton             567031.96

In [8]:
#export csv
avg_singfam_home_price_city.to_csv("Resources/CO_Cities_SingleFam_AvgPrice.csv")

# Top Tier Homes - By City

### 65th to 95th Percentile

In [10]:
top_tier_data = pd.read_csv("Resources/RawTopTierHomes_TimeSeries_City.csv")
co_top_tier_data = top_tier_data[top_tier_data['State'] == 'CO']
co_top_tier_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
23,11093,23,Denver,city,CO,CO,"Denver-Aurora-Lakewood, CO",Denver County,326979.950764,328805.411990,...,942082.164242,949646.149654,947831.933372,937902.898759,924342.955894,914007.662513,907491.517679,901787.132280,896320.040680,889998.443785
41,4172,41,Colorado Springs,city,CO,CO,"Colorado Springs, CO",El Paso County,265637.747108,265983.726276,...,641378.859802,645511.536762,645092.597918,641455.885704,635967.227536,631711.488346,627915.155849,624114.438735,620594.293713,617340.046049
52,16846,52,Aurora,city,CO,CO,"Denver-Aurora-Lakewood, CO",Arapahoe County,285492.957737,287298.074916,...,648935.115881,652842.650925,652493.160057,648421.855444,642484.770682,637178.879709,632583.799977,628188.430099,624015.413908,620786.291844
149,4764,149,Fort Collins,city,CO,CO,"Fort Collins, CO",Larimer County,286064.101742,285605.423940,...,760889.575727,766131.382360,764996.759276,758820.457210,751475.537166,746727.951147,744343.606211,742111.131763,739520.631470,737892.085590
213,5519,214,Lakewood,city,CO,CO,"Denver-Aurora-Lakewood, CO",Jefferson County,300401.602977,302240.829184,...,774677.688102,778515.045260,775425.344187,768103.421216,758931.028524,752455.453400,747630.611437,743910.433151,740756.657742,737691.879414

In [12]:
#function for pulling desired data from one df and storing in another
def pulldata(df1,df2,colname):
    for index,row in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row2['RegionName'] == row['City']:
                df1.loc[index,colname] = row2['2023-02-28']
    return df1

In [19]:
#call function
pulldata(avg_singfam_home_price_city,co_top_tier_data,'Average Home Price (Top Teir)')

#supress scientific notation and create copy
avg_SingFam_TopTier_combined_df = avg_singfam_home_price_city.round(2).copy()
avg_SingFam_TopTier_combined_df.head()

           City  Single Fam Avg Price  Average Home Price (Top Teir)
0        Arvada             663225.80                      794293.06
1        Aurora             530770.16                      620786.29
2       Boulder            1418469.92                     1641210.97
3  Breckenridge            1397773.68                     2142628.16
4    Broomfield             774477.19                      899867.60

# Bottom Tier Homes - By City

###

In [16]:
bottom_tier_data = pd.read_csv("Resources/RawBottomTeirHomes_TimeSeries_City.csv")

In [17]:
co_bottom_tier_data = bottom_tier_data[bottom_tier_data['State'] == 'CO']
co_bottom_tier_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
23,11093,23,Denver,city,CO,CO,"Denver-Aurora-Lakewood, CO",Denver County,84724.067726,85248.100636,...,393601.604805,397420.554385,398746.646769,397630.428547,395562.230010,393842.559007,392726.937305,391079.216640,390542.067783,390848.486767
41,4172,41,Colorado Springs,city,CO,CO,"Colorado Springs, CO",El Paso County,102719.000567,102871.424171,...,356482.939478,358825.067735,359345.854424,358255.310597,356384.209459,354693.337433,353094.408159,351221.341520,349449.047626,348048.613685
52,16846,52,Aurora,city,CO,CO,"Denver-Aurora-Lakewood, CO",Arapahoe County,100875.814337,101540.815499,...,365438.322270,368844.479603,370385.266282,369817.683477,367919.436946,365804.893727,363902.696561,362015.082418,361190.192055,360939.944917
149,4764,149,Fort Collins,city,CO,CO,"Fort Collins, CO",Larimer County,124124.500566,124013.978142,...,418779.992149,421370.047278,421882.092354,420010.675777,417749.862300,416429.994741,416257.026337,415798.204942,415414.570185,415641.790125
213,5519,214,Lakewood,city,CO,CO,"Denver-Aurora-Lakewood, CO",Jefferson County,122184.456492,122944.942841,...,411678.048914,414602.932491,415235.446183,413755.857497,411328.136763,409237.274095,407525.162746,405712.248566,404784.848648,404437.634999

In [21]:
pulldata(avg_SingFam_TopTier_combined_df,co_bottom_tier_data, 'Average Home Price (Bottom Tier)')

combined_df = avg_SingFam_TopTier_combined_df.round(2).copy()
combined_df.head()

,City,Single Fam Avg Price,Average Home Price (Top Teir),Average Home Price (Bottom Tier)
0,Arvada,663225.80,794293.06,486501.75
1,Aurora,530770.16,620786.29,360939.94
2,Boulder,1418469.92,1641210.97,546725.46
3,Breckenridge,1397773.68,2142628.16,674120.89
4,Broomfield,774477.19,899867.60,494302.13

In [23]:
combined_df.to_csv("Resources/SingFam_TopTier_BotTier_Combined.csv")